<!DOCTYPE html>
<html lang="zh">
<head>
	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
   
    <title>服务协议</title>
</head>
<body style="padding:0 15px;line-height:1.5">
<h1 style="text-align: center">用户服务协议</h1>
欢迎使用捡星星，捡星星是天智星（深圳）科技有限公司介绍（以下简称“天智星”  ）基于区块链技术为用户（以下或称 “您 ”） 提供的服务。在您注册成为天智星用户前请务必仔细阅读以下条款。<b>若您一旦注册，则表示您同意接受本APP的服务及交易规则并受以下条款的约束。若您不接受以下条款，请您立即停止注册或主动停止使用本APP的服务。</b><br/>
<h3>一、定义</h3>
1、星星：指平台对用户做任务的奖励，未来可用于商城消费。所有星星会被记录在区块链上，一旦被拥有，就无法被任何人复制、修改或销毁。<br/>
2、充电宝：指平台推出的充电宝，绑定充电宝可以接受相应的任务，做任务期间会产生相应的星星奖励。<br/>

<h3>二、协议签署和服务规则</h3>
</h4>1、您明确知悉， 本服务涉及天智星相关软件包括但不限于所有权、知识产权等一切权利归天智星所有。<b>用户在享受本服务时，应当受本协议以及软件及服务相关的具体服务条款、操作规则的约束。</b><h4>
 <h4>2、用户资格：</h4>
仅当您符合下列条件之一时，才能申请成为天智星用户并使用本服务：<br/>
1 ）年满十八周岁，并具有完全民事权利能力和完全民事行为能力的自然人。<br/>
2 ）未满十八周岁，但其法定监护人予以书面同意的自然人。<br/>
3 ）根据中华人民共和国或设立地法律、法规和 / 或规章成立并合法存在的公司、社团组织和其他组织。<br/>
无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为本服务用户或超过其民事权利或行为能力范围使用本服务的，其与本服务之间的协议自始无效，天智星一经发现，有权立即注销该用户使用天智星及相关服务的资格且无需承担任何责任，并有权追究其（或其法定监护人）使用本服务所产生的相关法律责任。<br/>
<h4>3、注册：</h4>
    1）<b>您在使用 天智星之前，必须先行注册，并填写注册资料，取得天智星账号、密码。</b><br/>
2）天智星账号注册资料包括但不限于您的账号名称、头像、密码、注册或更新天智星账号时输入的所有信息。<br/>
您在注册天智星账号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在天智星账号注册资料中出现违法和不良信息，且您保证在注册和使用账号时， 不得有以下情形：<br/>
（ 1 ）违反宪法或法律法规规定的。<br/>
（ 2 ）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的。<br/>
（ 3 ）损害国家荣誉和利益的，损害公共利益的。<br/>
（ 4 ）煽动民族仇恨、民族歧视，破坏民族团结的。<br/>
（ 5 ）破坏国家宗教政策，宣扬邪教和封建迷信的。<br/>
（ 6 ）散布谣言，扰乱社会秩序，破坏社会稳定的。<br/>
（ 7 ）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。<br/>
（ 8 ）侮辱或者诽谤他人，侵害他人合法权益的。<br/>
（ 9 ）含有法律、行政法规禁止的其他内容的。<br/>
3）您成功注册天智星账号以后。<b>根据相关法律、法规规定以及考虑到天智星产品服务的重要性，您同意：</b><br/>
    <b>（ 1 ）在注册天智星账号时提交有效身份信息进行实名认证。</b><br/>
    <b>（ 2 ）提供及时、详尽及准确的账户注册资料。</b><br/>
    <b>（ 3 ）不断更新注册资料，符合及时、详尽准确的要求，除法律法规规定外，对注册天智星账号时填写的身份证件信息不能随意修改。</b><br/>
4 ）如果您提供任何不真实、不准确、不完整或不能反映当前情况的资料的，或天智星公司有合理理由怀疑该等资料不真实、不准确、不完整或不能反映当前情况的，天智星公司保留停止您使用本服务的权利，<b>如因您资料的不真实、不准确、不完整或不能反映当前情况而给天智星公司或其关联公司造成损失的，您应负责赔偿。</b>若您以虚假信息骗取账号注册或账号头像、个人简介等注册资料存在违法和不良信息的，天智星有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册账号名称的，天智星公司有权注销该账号，并向政府主管部门进行报告。天智星有权对您的天智星账户进行安全性管理，包括但不限于采取限制、冻结、注销用户账户措施。<br/>
4、您在天智星中创建天智星账户，天智星会帮助您生成对应的区块链账户地址及私钥，地址和私钥具有唯一性，私钥可以用于特定情形下的收付星星等用途。<br/>
    5、<b>您知悉，您基于天智星区块链所获得的区块链账户地址及相关私钥为您本人所有，您应妥善保管您的区块链账户地址及相关私钥， 您的账户信息、私钥均储存于区块链中，不会被获取 / 储存 / 备份于天智星服务器中，区块链账户地址与相关私钥不得更改，如您不慎丢失账户地址或私钥，将无法通过天智星找回，您将自行承担相关损失。</b><br/>
6、<b>天智星禁止用户违反天智星使用规则私自赠与、借用、租用、转让或售卖任何区块链账户地址或相关私钥。您基于天智星账户所进行的所有登入、兑换或相关使用行为，均视为您本人操作，代表您的真实意思表示，天智星不对其产生的后果承担任何责任。</b><br/>
7、本服务为天智星基于区块链技术及天智星区块链向您提供的技术服务，天智星将采取合理技术措施保证天智星区块链的正常运行及安全保障。 您应确保在使用天智星服务过程中不得违反任何法律、法规及相关规定或侵害任何第三人的合法权益，天智星对您使用天智星服务所产生的任何后果不承担任何责任。<br/>
8、<b>天智星有权制定或调整星星的使用规则，具体星星的发放、获取、兑换等相关规则以天智星页面展示为准。</b><br/>
9、您可通过本服务提供的区块链加密技术记录并保护用户的数字信息数据，同时天智星可以帮助您提供相关数字信息数据的查询功能，您可根据自身意愿将个人数字信息数据开放给其他天智星用户进行查询。为鼓励用户更好的保护个人数字信息数据，发现并拓展个人数字信息数据的价值，天智星会根据相关服务规则对您的数据信息保存及共享查询行为星星或其他收益奖励。 您通过天智星保存并加密的数字信息数据归您本人所有，除非经您明确授权，天智星不会收集、储存或使用您的任何数字信息数据，亦不对您向任何第三方提供个人数字信息数据所产生的后果承担责任。<br/>
10、 <b>您不得利用星星进行融资或从事星星与法定货币、 “ 虚拟货币 ” 相互之间的兑换业务，不得买卖或作为中央对手方买卖星星，不得为星星提供定价、信息中介等法律法规、监管政策禁止的任何活动，否则天智星有权不经用户同意，立即单方注销该用户的天智星账户并停止向用户继续提供服务，因此而给用户造成的任何损失，由该用户自行承担。</b><br/>
11、<b>天智星有权就本服务向您收取一定的手续费或服务费，具体以天智星页面公示为准。</b><br/>
12、您同意天智星有权基于司法、监管部门、监督机构的要求或自身业务原因，暂停、中断或终止向您提供全部或者部分本服务。<br/>

<h3>三、法律责任与免责</h3>
1、<b>天智星对其所有服务将尽力维护其安全性及方便性，但对服务中非因天智星过错所产生的信息（包括但不限于用户发布 / 储存的信息、账户地址、数字资产数量、信息数据等）删除或储存失败不承担任何责任。</b><br/>
2、使用本服务涉及到互联网服务，可能会受到各个环节不稳定因素的影响，存在因不可抗力 ( 包括但不限于战争、地震、雷击、水灾、火灾、政府行为、电信部门技术管制 ) 、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何网络、技术、通信线路等原因造成的服务中断或不能满足用户要求的风险，用户须明白并自行承担以上风险，天智星不承担任何责任。<br/>
3、用户因第三方如电信运营商部门的通讯线路故障、技术问题、网络、电脑故障、系统不稳定性及其他各种不可抗力 ( 包括但不限於战争、地震、雷击、水灾、火灾、政府行为、电信部门技术管制 ) 原因而遭受的经济损失，天智星不承担任何责任。<br/>
4、因用户违反本协议或相关的服务条款的规定，导致或产生天智星或其合作公司、关联方遭受任何第三方主张的任何索赔、要求或损失的（包括合理的诉讼费用和律师费用），您应承担赔偿责任。<br/>

<h3>四、用户信息及隐私权保护</h3>
1、我们如何收集和使用信息<br/>
1 ）实现基本功能<br/>
（1）通过注册账号收集的信息。当您注册天智星账号时，天智星会收集您的手机号码、昵称、头像、性别等信息，收集这些信息是为了帮助您完成天智星账号注册，保护您的账号安全。<b>如果您拒绝提供这些信息，您可能无法正常注册天智星账号，亦无法享受本款产品的服务。在您注册天智星账号的过程中，您还可以向我们提供您的性别、生日、爱好、收货地址等信息，这些信息有助于我们向您提供更加个性化的服务和推荐，包括商品邮寄等功能。拒绝提供这些信息可能会影响您使用本款产品的部分功能。</b><br/>
（2）兴趣推荐。为了向您推荐你可能感兴趣的服务，我们会接入第三方服务，例如向第三方服务公司提供经过MD5算法加密的国际移动设备身份码（IMEI）和标识符IDFA，进行相关任务展示推荐，以及相关信息的兴趣推荐。<br/>
除此之外，<b>天智星还将基于您的IMEI、MAC、IDFA、手机号等信息，从而在天智星种给予相应的价值回馈。拒绝提供IMEI、MAC、IDFA、手机号等信息将会使您无法获得这些关联奖励。</b><br/>
2）基于位置的个性化推荐<br/>
当您完成应用安装后，您可以通过弹窗选择是否允许我们收集您的GPS位置信息。如果您同意我们收集您的GPS位置信息，这些信息将仅被用于基于您的位置向推送您附近的星星、任务等。天智星不会将收集到的位置信息与您的账号及身份信息相关联，或记录您的行动轨迹，亦不会将上述信息用作实现上述功能之外的任何用途。<b>拒绝提供位置信息仅会使您无法享受基于位置的上述服务，而不会影响您正常使用本款产品的其他功能。</b><br/>
3）改善我们的产品和服务<br/>
（1）用户体验改进。我们可能会收集经过MD5算法加密的国际移动设备身份码（IMEI）和网络设备地址（MAC），标识符IDFA、设备型号、系统版本号、操作系统版本号、系统编号、系统ID号、屏幕分辨率、上网类型、本款产品的版本号、某按钮的点击使用时间和频率、某些关键配置的选项值、软件崩溃日志等，用于统计我们产品的用户数量、分析产品的使用状况、排查崩溃原因、减少崩溃情况，以不断改进我们的产品。这些信息不涉及到您的个人身份等隐私信息。<br/>
（2）解决您反馈的问题。您可以通过本款产品的“我的->设置->意见反馈”向我们反馈您使用本款产品中遇到的问题。我们会通过分析信息，找出问题原因并努力解决问题。您在反馈意见中所提供的联系方式，只会用于我们的客服与您沟通与反馈，除征得用户明确同意和法律明确规定外，天智星不会向任何第三方提供您提供的联系信息。<br/>
4）其他用途
在符合法律法规的前提下，<b>我们可能会将您的个人信息在匿名化、汇总、脱敏和加密处理后，形成统计信息或用户画像（但画像无法识别任何用户个人），为您展示和推送相关服务、产品或功能。如果我们将信息用于本政策未载明的其他用途，或者将基于特定目的收集而来的信息用于其他目的，我们会事先征求您的同意。</b><br/>
5）征得授权同意的例外<br/>
根据相关法律法规规定，以下情形中收集您的个人信息无需征得您的授权同意：<br/>
（1）与国家安全、国防安全有关的。<br/>
（2）与公共安全、公共卫生、重大公共利益有关的。<br/>
（3）与犯罪侦查、起诉、审判和判决执行等有关的。<br/>
（4）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的。<br/>
（5）所收集的个人信息是您自行向社会公众公开的。<br/>
（6）从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。<br/>
（7）根据您的要求签订合同所必需的。<br/>
（8）用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障。<br/>
（9）为合法的新闻报道所必需的。<br/>
（10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的。<br/>
（11）法律法规规定的其他情形。<br/>
2、我们如何存储您的个人信息
我们在中华人民共和国境内收集和产生的个人信息将存储在中华人民共和国境内。<br/>
若为处理跨境业务，确需向境外机构传输境内收集的相关个人信息的，我们会按照法律、行政法规和相关监管部门的规定执行。我们会确保您的个人信息得到足够的保护，例如匿名化、加密存储等。<br/>
我们仅在本政策所属目的的所必须期间和法律法规要求的时限内存储您的个人信息。<br/>
如我们停止运营天智星的产品或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，并对我们存储的个人信息进行删除或匿名化处理。<br/>
3、我们如何共享、转让、公开披露您的个人信息<br/>
1）共享
我们不会与任何公司、组织和个人共享您的个人信息，但以下情况除外：
（1）在获取您明确同意的情况下，我们会与其他方共享您的个人信息。<br/>
（2）我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享您的个人信息。<br/>
（3）在法律法规允许的范围内，为维护天智星、天智星的关联方或合作伙伴、您或其他天智星用户或社会公众利益、财产或安全免遭损害而有必要共享您的个人信息。<br/>
（4）在我们的关联方向您或向我们提供服务的情况下，我们可能与我们的关联公司共享您的个人信息。但我们仅共享必要的个人信息，且关联方对您信息的处理受本隐私政策的约束。关联公司如要改变您个人信息的处理目的，将再次征求您的授权和同意。<br/>
（5）除非获得您的明确授权和同意，否则我们不会与第三方服务商、应用程序开发者、开放平台或其他合作伙伴共享您的个人信息。我们可能会为这些合作伙伴提供汇总后的信息、匿名化后的信息或者其他不会识别到您个人身份的信息。<br/>
（6）仅为实现本隐私政策中声明的目的，我们可能会与我们的供应商、服务提供商、顾问或代理人共享您的个人信息，以提供更好的客户服务和用户体验。这些供应商、服务提供商、顾问、代理人可能为我们提供技术基础设施服务，分析我们服务的使用方式，衡量服务的有效性，提供客户服务和支付服务，进行学术研究和调查，或提供法律、财务与技术顾问服务。例如，我们可能会不定期地邀请注册用户参加抽奖活动。如您幸运中奖，我们需要向物流服务提供商提供您的个人信息，以便向您发送我们的奖品。<br/>
对我们与之共享个人信息的公司、组织和个人，我们会与其签署严格的数据保护协定，要求其按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施来处理个人信息。<br/>
2）转让<br/>
我们不会将您的个人信息转让给其他任何公司、组织和个人，但以下情形除外：<br/>
（1）随着天智星公司业务的发展，我们及我们的关联公司有可能进行合并、收购、资产转让或其他类似的交易。如相关交易涉及到您的个人信息转让，我们会要求新持有您个人信息的公司、组织和个人继续受此政策约束，否则我们将要求该公司、组织和个人重新征得您的授权同意。<br/>
（3）在获得您明确同意的情形下转让，亦即获得您明确同意后，我们会向其他方转让我们已经获取的您的个人信息。<br/>
3）披露
我们仅会在以下情况下，公开披露您的个人信息：<br/>
（1）已经获得您明确同意。<br/>
（2）在法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会公开披露您的个人信息。<br/>
（3）法律法规规定的其他情形。<br/>
4、我们如何保护您的个人信息<br/>
我们已采取符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权访问、公开披露、使用、修改、损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。<br/>
1）我们会对可识别的个人身份信息进行加密传输和存储，以确保数据的保密性。<br/>
2）如果用户注册了天智星账号，我们可能通过对天智星用户的登录时间、IP、登录次数等信息进行分析，妥善做好风控管理。如有疑似非本人登录操作的情况，我们将通过短信提醒用户，避免天智星账户被非本人登录操作。<br/>
3）我们存储用户个人信息的服务器系统均为安全加固后的操作系统。我们会对服务器操作进行账户审计及监控。如果发现外部公告有安全问题的服务器操作系统，天智星会在第一时间会进行服务器安全升级，确保天智星所有服务器系统及应用安全。<br/>
4）我们为工作人员定期举办个人信息保护相关法律法规培训，以加强工作人员的用户个人隐私保护意识。<br/>
5）如果不幸发生我们的物理、技术或管理防护措施遭到破坏的事件，我们会及时启动应急预案，防止安全事件扩大，按照法律法规的要求上报国家主管机关，并及时采取推送、公告等合理、有效的方式向您告知安全事件的基本情况、可能的影响、已经采取的措施或将要采取的措施等。<br/>

5、隐私政策的变更和修订<br/>
我们的隐私政策可能变更。未经您明确同意，我们不会限制您按照本隐私政策所应享有的权利。<br/>
<b>对于本隐私政策的重大变更，我们还会提供显著的通知（例如，在软件改版或升级、或您重新登录时，以弹窗形式对您进行及时通知）。</b><br/>
本政策所指的重大变更包括但不限于：<br/>
（1）我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等。<br/>
（2）我们在控制权等方面发生重大变化。如并购重组等引起的所有者变更等。<br/>
（3）个人信息共享、转让或公开披露的主要对象发生变化。<br/>
（4）您参与个人信息处理方面的权利及其行使方式发生重大变化。<br/>
（5）我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时。<br/>
（6）个人信息安全影响评估报告表明存在高风险时。<br/>

<h3>五、其他</h3>
1、<b>您同意，天智星有权随时对本协议内容进行调整和补充，天智星将以网页公告等方式对该等变更予以公布。变更后的条款自公布之日起生效。若您在本协议变更的条款生效后，仍继续使用本服务的，则视为接受该等变更，若您不同意的，您有权终止本协议并停止使用本服务。</b><br/>
2、本协议适用中华人民共和国法律并据其解释。<br/>
3、 因本协议引起的或与本协议有关的争议，天智星可与您协商解决。协商不成的，任何一方均<b>有权向深圳市南山区人民法院提起诉讼解决。</b><br/>


</body>
</html>