body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,lable{margin:0;padding:0}
body {
    font:14px/1.5 'Microsoft YaHei', sans-serif;  
    color: #777;
    background: #f8f8f8;
    overflow-x: scroll;
}
.container{
    width: 1200px;
    padding: 0 15px;
}
::-webkit-selection {
    color: #fff;
    background: #f9ad81;
}
::-moz-selection {
    color: #fff;
    background: #f9ad81;
}
::selection {
    color: #fff;
    background: #f9ad81;
}
a {
    color: #777;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
a:hover, a:focus, a:active {
    color: #ff8423;
    outline: none;
    text-decoration: none;
}
h1, h2, h3, h4,h5,h6 {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #303030;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
em,i {
    font-style:normal;
}
ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
   margin-bottom: 20px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.overflow-h{
    overflow: hidden;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.none{
    display: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed {
    position: fixed;
}
.pointer {
    cursor: pointer;
}
.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

/* ====================== font ===================== */
.fs-12 {font-size: 12px;}
.fs-14 {font-size: 14px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-21 {font-size: 21px;}
.fs-22 {font-size: 22px;}
.fs-24 {font-size: 24px;}
.fs-26 {font-size: 26px;}
.fs-30 {font-size: 30px;}
.fs-38 {font-size: 38px;}
.color-white {color: #fff;}
.color-orange {color: #ff8423;}
.color-blue {color: #42a3ff;}
.color-pink {color: #ff4a64;}
.color-green {color: #2acfc5;}
.color-hlight {color: #ff8423;}
.color-tit,.color-30 {color: #303030;}
.color-a0,.fc-a0 {color: #a0a0a0;}
.color-a8,.fc-a8 {color: #a8a8a8;}
.color-7,.fc-777 {color: #777;}
.color-9,.fc-999 {color: #999;}
.strong,.fw-b{font-weight: bold;}
.text-ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.text-indent{text-indent: 2em;}
.line-through{text-decoration: line-through;}

/* ====================== btn ===================== */
.btn {
	color: #fff;
    padding: 10px 18px;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    border:1px solid transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.btn:hover {
	color: #fff;
}
.btn-primary {
    background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    border: none;
    -moz-box-shadow:6px 8px 16px rgba(255, 132, 35, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(255, 132, 35, 0.3);     
    box-shadow:0 3.46px 8px rgba(255, 132, 35, 0.3);   
}
.btn-primary-empty {
	background: #fff;
	-moz-box-shadow:6px 8px 16px rgba(255, 132, 35, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(255, 132, 35, 0.3);     
    box-shadow:0 3.46px 8px rgba(255, 132, 35, 0.3);   
	color: #ff8423;
	border: 1px solid #ff8423;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary-empty:hover, .btn-primary-empty:focus, .btn-primary-empty:active {
    background: #ff7a2b !important;
}
.fh5co-index .btn-primary {
    padding: 12px 18px;
    box-shadow: none;
}
.btn-blue {
    background: -moz-linear-gradient(left, #39a0ff 50%, #43d4ff 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #39a0ff), color-stop(100%, #43d4ff));
    background: -webkit-linear-gradient(left, #39a0ff 50%, #43d4ff 100%);
    background: -o-linear-gradient(left, #39a0ff 50%, #43d4ff 100%);
    background: linear-gradient(to right, #39a0ff 0%, #43d4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    border: none;
    -moz-box-shadow:6px 8px 16px rgba(63, 189, 225, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(63, 189, 225, 0.3);     
    box-shadow:0 3.46px 8px rgba(63, 189, 225, 0.3);
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background: #2c90ff !important;
}
.btn-pink {
    background: -moz-linear-gradient(left, #ff4a64 50%, #ff53c2 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff4a64), color-stop(100%, #ff53c2));
    background: -webkit-linear-gradient(left, #ff4a64 50%, #ff53c2 100%);
    background: -o-linear-gradient(left, #ff4a64 50%, #ff53c2 100%);
    background: linear-gradient(to right, #ff4a64 0%, #ff53c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a64', endColorstr='#ff53c2',GradientType=1 );
    border: none;
    -moz-box-shadow:6px 8px 16px rgba(255, 74, 100, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(255, 74, 100, 0.3);     
    box-shadow:0 3.46px 8px rgba(255, 74, 100, 0.3);
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background: #ff4a64 !important;
}
.btn-green{
    background: -moz-linear-gradient(left, #2acfc5 50%, #42eabb 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #2acfc5), color-stop(100%, #42eabb));
    background: -webkit-linear-gradient(left, #2acfc5 50%, #42eabb 100%);
    background: -o-linear-gradient(left, #2acfc5 50%, #42eabb 100%);
    background: linear-gradient(to right, #2acfc5 0%, #42eabb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2acfc5', endColorstr='#42eabb',GradientType=1 );
    border: none;
    -moz-box-shadow:6px 8px 16px rgba(66, 234, 187, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(66, 234, 187, 0.3);     
    box-shadow:0 3.46px 8px rgba(66, 234, 187, 0.3);
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
    background: #2acfc5 !important;
}
.btn-default {
    background: -moz-linear-gradient(left, #cdcdcd 50%, #dcdcdc 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #cdcdcd), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(left, #cdcdcd 50%, #dcdcdc 100%);
    background: -o-linear-gradient(left, #cdcdcd 50%, #dcdcdc 100%);
    background: linear-gradient(to right, #cdcdcd 0%, #dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#dcdcdc',GradientType=1 );
    border: none; 
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    background: #bbbbbb !important;
}

/* ====================== border ===================== */
.bord {border: 1px solid #eaeaea;}
.bord-l {border-left: 1px solid #eaeaea;}
.bord-r {border-right: 1px solid #eaeaea;}
.bord-t {border-top: 1px solid #eaeaea;}
.bord-b {border-bottom: 1px solid #eaeaea;}
.bord-b-d {border-bottom: 1px dashed #eaeaea;}
.bord-white {border: 1px solid #fff;}
.bord-n{border: none !important;}
.bord-l-n {border-left: none !important;}
.bord-r-n {border-right: none !important;}
.bord-t-n {border-top: none !important;}
.bord-b-n {border-bottom: none !important;}
.radius-6 {border-radius: 6px;}
.radius-10 {border-radius: 10px;}

/* ====================== 通用边距 ===================== */
.mar-0{margin: 0;}
.ml-0{margin-left:0;}
.ml-10{margin-left:10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left:20px;}
.ml-25{margin-left: 25px;}
.ml-40{margin-left:40px;}
.ml-60{margin-left:60px;}
.mr-0{margin-right:0;}
.mr-10{margin-right:10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right:20px;}
.mr-40{margin-right:40px;}
.mr-60{margin-right:60px;}
.mt-0{margin-top:0;}
.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-40{margin-top:40px;}
.mt-45{margin-top: 45px;}
.mt-60{margin-top:60px;}
.mb-0{margin-bottom: 0;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-25{margin-bottom: 25px;}
.mb-40{margin-bottom:40px;}
.mb-60{margin-bottom:60px;}
.pad-0{padding: 0;}
.pad-10{padding:10px;}
.pad-20{padding:20px;}
.pl-0{padding-left:0;}
.pl-10{padding-left:10px;}
.pl-20{padding-left:20px;}
.pl-40{padding-left:40px;}
.pl-60{padding-left:60px;}
.pr-0{padding-right:0;}
.pr-10{padding-right:10px;}
.pr-20{padding-right:20px;}
.pr-25{padding-right: 25px;}
.pr-40{padding-right:40px;}
.pr-60{padding-right:60px;}
.pt-0{padding-top: 0;}
.pt-5{padding-top: 5px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top:40px;}
.pt-60{padding-top:60px;}
.pb-0{padding-bottom:0;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-25{padding-bottom: 25px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom:40px;}
.pb-60{padding-bottom:60px;}

/* ====================== progress ===================== */
.progress {
    overflow: visible;
    position: relative;
    width: 92%;
    height: 5px;
    margin: 0;
    background-color: #eaeaea;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
}
.progress .handle {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: -4px;
    background: url(/Public/frontend/images/home/progress.png) no-repeat center;
}
.progress .count {
    width: 42px;
    position: absolute;
    top: -32px;
    margin-left: -15px;
    font-size: 12px;
    color: #ff8423;
    text-align: center;
    border: 1px solid #ff8423;
    padding: 0 4px;
    border-radius: 4px;
}
.progress .count:before,.progress .count:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0;
}
.progress .count:before {
    border-top-color: #ff8423;
    bottom: -4px;
}


/* ====================== 背景色 ===================== */
.bg-white {background:  #fff;}
.bg-f8 {background: #f8f8f8;}
.bg-fa {background: #fafafa;}
.bg-f2 {background: #f2f2f2;}

/* ====================== 去色 ===================== */
.desaturate{ 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); 
    filter: grayscale(100%);
    filter: gray; 
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
}

/* ====================== form ===================== */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.form-group {margin-bottom: 20px;}
.form-control {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
}
.form-control[readonly=readonly]{background-color: #dcdcdc;}
.form-control:active, .form-control:focus {
	outline: none;
    box-shadow: none;
	border: 1px solid #39a0ff;
}

/* ====================== 登录弹窗 ===================== */
.theme-popover {
    z-index: 9999;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 430px;
    height: 458px;
    margin: 0 0 0 -222px;
    border-radius: 2px;
    border: 2px solid #666;
    background-color: #fff;
    box-shadow: 0 0 10px #666;
}
.theme-poptit {
    padding: 5px 6px;
    position: relative;
}
.theme-poptit .close{transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease;-o-transition:-o-transform .5s ease;-ms-transition:-ms-transform .5s ease;}
.theme-poptit .close:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}
.theme-popover .yzm {
    width: 78px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 1px;
}
.theme-popover  .btn-primary:hover,.theme-popover  .btn-primary:focus,.theme-popover  .btn-primary:active {
    background: #ff7a2b !important;
    border-color: #ff7a2b !important;
}
.theme-popover .scanFail {
    width: 222px;
    height: 234px;
    top: 0;
    left: 102px;
    background: rgba(255, 255, 255, 0.9);
}
.theme-popover .ewmpic{
    width:246px;
    height: 246px;
}
.theme-popover-mask {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Public/frontend/images/common/gray_bg.png);
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}
.theme-popover input[type="checkbox"] {
    height: 14px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
}
.theme-popover .pyzm {
	right: 1px;
    top: 1px;
    width: 96px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    border: none;
    background: #ff8423;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.theme-popover .er-icon {
	width: 66px;
	height: 66px;
	background: url(/Public/frontend/images/user/er_icon.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: -79px;
	cursor: pointer;
} 
.theme-popover .pc-icon {
	width: 52px;
	height: 52px;
	background: url(/Public/frontend/images/user/pc_icon.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
} 

/* ====================== 标的公共样式 ===================== */
.fh5co-product .pro-biao>.bg-white {
    border-bottom: 1px solid #dcdcdc;
    padding: 16px 30px;
    webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;
}
.fh5co-product .pro-biao {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fh5co-product .pro-biao>div.bg-white:hover {
    background: #fbfbfb;
}
.fh5co-product .pro-biao>div.bg-white .mt-8 {
	margin-top: 8px;
}
.p-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin-right: 5px;
}
.p-y {
    background: -moz-linear-gradient(top, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, top left, bottom right, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(top, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(top, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to bottom, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=0 );
}
.p-z {
    background: -moz-linear-gradient(top, #2acfc5 50%, #42eabb 50%);
    background: -webkit-gradient(linear, top left, bottom right, color-stop(50%, #2acfc5), color-stop(100%, #42eabb));
    background: -webkit-linear-gradient(top, #2acfc5 50%, #42eabb 100%);
    background: -o-linear-gradient(top, #2acfc5 50%, #42eabb 100%);
    background: linear-gradient(to bottom, #2acfc5 0%, #42eabb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2acfc5', endColorstr='#42eabb',GradientType=0 );
}
.p-c {
    background: -moz-linear-gradient(top, #39a0ff 50%, #43d4ff 50%);
    background: -webkit-gradient(linear, top left, bottom right, color-stop(50%, #39a0ff), color-stop(100%, #43d4ff));
    background: -webkit-linear-gradient(top, #39a0ff 50%, #43d4ff 100%);
    background: -o-linear-gradient(top, #39a0ff 50%, #43d4ff 100%);
    background: linear-gradient(to bottom, #39a0ff 0%, #43d4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39a0ff', endColorstr='#43d4ff',GradientType=0 );
}
.p-t {
    background: -moz-linear-gradient(top, #ff4a64 50%, #ff53c2 50%);
    background: -webkit-gradient(linear, top left, bottom right, color-stop(50%, #ff4a64), color-stop(100%, #ff53c2));
    background: -webkit-linear-gradient(top, #ff4a64 50%, #ff53c2 100%);
    background: -o-linear-gradient(top, #ff4a64 50%, #ff53c2 100%);
    background: linear-gradient(to bottom, #ff4a64 0%, #ff53c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a64', endColorstr='#ff53c2',GradientType=0 );
}
.fh5co-product .pro-biao .bd{height: 68px;overflow: hidden;}
.fh5co-product .pro-biao .bd>div {display: inline-block;}
.fh5co-product .pro-biao .bd>div.previousYear {width: 150px;}
.fh5co-product .pro-biao .bd>div.projectDate {width: 140px;}
.fh5co-product .pro-biao .bd>div.projectTotal {width: 160px;}
.fh5co-product .pro-biao .bd>div.payWay {width: 146px;}
.fh5co-product .pro-biao .bd>div.projectSpeed {width: 222px;}
.fh5co-product .pro-biao .bd>div.btnBox {display:initial;float:right;width: 225px;margin-left: 44px;}
.fh5co-product .pro-biao .lable, .project .lBox .lable {
    border: 1px solid #42a3ff;
    display: inline;
    padding: 0 6px;
    border-radius: 10px;
}
.fh5co-product .pro-biao .lable.sepcial, .project .lBox .lable.sepcial {
	color: #fff;
	border: 1px solid transparent;
	background: -moz-linear-gradient(top, #fd4b50 50%, #f77659 50%);
	background: -o-linear-gradient(top, #fd4b50 50%, #f77659 100%);
	background: background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #fd4b50), color-stop(100%, #f77659));
	background: -webkit-linear-gradient(left, #fd4b50 50%, #f77659 100%);
	background: linear-gradient(to right, #fd4b50 0%, #f77659 100%);
}

/* ====================== header ===================== */
#fh5co-top{
    height: 41px;   
    border-bottom: 1px solid #eaeaea;   
}
#fh5co-top .top-left>a{
    display: inline-block;
    text-indent: -1000px;   
    position: relative;
    width:30px;
    height:40px;
    line-height: 40px;
    color:#555; 
    background: url(/Public/frontend/images/index-icon.png) 0 0 no-repeat;

}
#fh5co-top .top-left>.hover-sina{background-position:-30px 0;}
#fh5co-top .top-left>.hover-weixin{background-position:-60px 0;}
#fh5co-top .top-left>.hover-qq:hover{background-position:0 -40px;}
#fh5co-top .top-left>.hover-sina:hover{background-position:-30px -40px;}
#fh5co-top .top-left>.hover-weixin:hover{background-position:-60px -40px;}
#fh5co-top .top-left>.hover-weixin img{
    display: block;
    height: auto;
}
#fh5co-top .top-left{width: 300px;}
#fh5co-top .fl .popover{
    top: 40px;
    text-indent: 0;
}
#fh5co-top .fl .popover p{
    width: 140px;
    margin: 0;
    text-align: left;
}
#fh5co-top .top-left>.tel{
    padding-right: 10px;
    color: #303030;
    height:40px;
    width: auto;
}
#fh5co-top .top-right a{
    padding: 0 2px;
    line-height: 40px;
    color: #A0A0A0;
    font-size: 12px;
    text-align: center;
}
#fh5co-top .top-right a:hover {color: #ff8423;}
#fh5co-top .top-right .login-box a {
    padding: 0 10px;
}
#fh5co-top .top-right i.phone{
    width:10px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: sub;
    background: url(/Public/frontend/images/home/icon5.png) no-repeat center;
}
.emphasize1 {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: -8px;
    z-index: 9;
    width: 27px;
    height: 19px;
    background: url(/Public/frontend/images/account/hot.gif) center center no-repeat;
}
.pos_rel {
    position: relative;
}
#fh5co-header {
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 999;
    background: #fff;
    height: 89px;
    padding: 0;
    width: 100%;
    min-width: 1200px;
}

#fh5co-header .container{
    position: relative;
    background: #fff;
}
#fh5co-header #fh5co-logo {
    float: left;
    line-height: 1.2;
    position: relative;
}
@media screen and (max-width: 768px) {
    #fh5co-header #fh5co-logo {
        top: -2px;
    }
}
#fh5co-header #fh5co-logo a {
    font-size: 30px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    #fh5co-header #fh5co-logo a {
        color: #000;
    }
}
#fh5co-header #fh5co-logo a span {
    color: #f9ad81;
}
#fh5co-header #fh5co-main-nav {
    float: right;
    padding-top: 15px;
}
#fh5co-header .icon-mycount{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url(/Public/frontend/images/index-icon.png) 0 -118px no-repeat;
}
#fh5co-header #fh5co-main-nav ul {
    padding: 0;
    margin-top: 2px;
}
#fh5co-header #fh5co-main-nav ul li {
    padding: 0;
    margin: 0;
    display: inline;
}
#fh5co-header #fh5co-main-nav ul li a { 
    color: #333;  
    text-decoration: none;
    margin-left: 10px;
    line-height: 55px;
    padding: 10px ;
    font-size: 16px;
}
#fh5co-header #fh5co-main-nav ul li a:hover,
#fh5co-header #fh5co-main-nav ul li.active a {
    text-decoration: none;
    color: #ff8423;
}

@keyframes navbarani
{
    from {top:-50px;}
    to {top:0px;}
}

@-moz-keyframes navbarani /* Firefox */
{
    from {top:-50px;}
    to {top:0px;}
}

@-webkit-keyframes navbarani /* Safari and Chrome */
{
    from {top:-50px;}
    to {top:0px;}
}

@-o-keyframes navbarani /* Opera */
{
    from {top:-50px;}
    to {top:0px;}
}
#fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0px;
    padding: 0;
    height: 91px;
    animation:navbarani 0.5s;
    -moz-animation:navbarani 0.5s; /* Firefox */
    -webkit-animation:navbarani 0.5s; /* Safari and Chrome */
    -o-animation:navbarani 0.5s; /* Opera */
}
#fh5co-main {
    padding-top: 89px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

/* ====================== footer ===================== */
#fh5co-footer {
    padding: 3em 0;
    font-size: 14px;
    line-height: 30px;
    color: #333;
}
@media screen and (max-width: 768px) {
    #fh5co-footer {
        padding: 3em 0;
    }
}
#fh5co-footer a {
    color: #777;
    font-size: 14px;
}
#fh5co-footer a:hover{
    color: #ff8423;
}
#fh5co-footer .line3{height:30px;line-height:30px;}

#fh5co-footer .line3 i{
    display:inline-block;
    width: 28px;
    height: 24px;
    background: url(/Public/frontend/images/index-icon.png) no-repeat;
    vertical-align:middle;
    cursor:pointer;
}
#fh5co-footer .line3 .i_s{
    margin-left:10px;
    background-position:-33px -48px;
}
#fh5co-footer li{display: inline-block;}
#fh5co-footer .line3 .i_q{
    margin-left:10px;
    background-position:-63px -48px;
}

#fh5co-footer .line3 .weisq{
    width:92px;
    margin-left:20px;
    background-position: 0 -88px;
    vertical-align:middle;
    cursor:pointer;
}
#fh5co-footer .r-pb  {
    background: #ECECEC;
    border-radius: 6px;
    padding: 3px 20px;
    margin-top: 11px;
}
#fh5co-footer .friend-show-btn{
    display: inline-block;
    cursor: pointer;
}
#fh5co-footer p {
    margin-bottom: 10px;
}
#fh5co-footer .friend-link-btn{
    font-size: 16px;
    font:bold;
}
#fh5co-footer .fh5co-social {
    padding: 0;
    padding-right: 15px;
    margin: 0;
}
#fh5co-footer .fh5co-social a{
    display: block;
    margin-left: 10px;
    background: url(/Public/frontend/images/index-icon.png) no-repeat;
}
#fh5co-footer .fh5co-social .seal1{
    width: 91px;height: 38px;background-position: 0 bottom;}
#fh5co-footer .fh5co-social .v_seal{width: 64px;height: 38px;background-position: -204px bottom;}
#fh5co-footer .fh5co-social .seal2{width: 93px;height: 38px;background-position: -101px bottom;}
#fh5co-footer .fh5co-social .seal3{width: 84px;height: 38px;background-position: -328px bottom;}
#fh5co-footer .fh5co-social .gongshang{width: 42px;height: 38px;background-position: -277px bottom;}

/* ====================== 侧边栏 ===================== */
#tbox{width:44px;float:right;position:fixed;right:10px;top:50%;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_margin-bottom:15px;}
#tbox #riskTip,#tbox #pinglun,#tbox #xiangguan,#tbox #yyqz,#tbox #syjs,.back-to-top{background:url(/Public/frontend/images/QQ_pic.png) no-repeat;display:block;margin:1px 0;}
#tbox #riskTip {width:40px;height:40px;background-position:-44px -3px;position:relative}
#tbox #pinglun{width:40px;height:40px;background-position:-44px -44px;}
#tbox #xiangguan{width:40px;height:40px;background-position:-44px -85px;position:relative}
#tbox #yyqz{width:40px;height:40px;background-position:-44px -167px;position:relative}
#tbox #syjs{width:40px;height:40px;background-position:-44px -126px;}
.back-to-top{width:40px;height:40px;background-position:-44px -208px;cursor:pointer;}
#tbox a:hover{background:url(/Public/frontend/images/QQ_pic.png);display:block;margin:1px 0}
#tbox a:hover#riskTip{width:40px;height:40px;background-position:0 -3px;}
#tbox a:hover#pinglun{width:40px;height:40px;background-position:0 -44px;}
#tbox a:hover#xiangguan{width:44px;height:40px;background-position:0 -85px;}
#tbox a:hover#yyqz{width:40px;height:40px;background-position:0 -167px;}
#tbox a:hover#syjs{width:40px;height:40px;background-position:0 -126px;}
#tbox a:hover.back-to-top{width:40px;height:40px;background-position:-44px -208px;}
#tbox a .moquu_risk{width: 170px;height:38px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -3px;position:absolute;right:48px;top:2px;display: none;}
#tbox a .moquu_wxinh{width:255px;height:141px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -40px;position:absolute;right:38px;top:-42px;display:none}
#tbox a .moquu_qzy{width:180px;height:171px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -188px;position:absolute;right:38px;top:-54px;display:none}

@media screen and (max-width: 768px) {
    .fh5co-social {
        float: none !important;
    }
}
.fh5co-social li {
    padding: 0;
    margin: 0;
    display: inline;
}
.fh5co-social li a {
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .fh5co-social li a {
        margin-right: 10px;
    }
}
.fh5co-social li a i {
    font-size: 20px;
}
.fh5co-social li a:hover {
    text-decoration: none !important;
}
.fh5co-social li a:hover i {
    text-decoration: none;
}
/* ====================== tab ===================== */
.tab_u{height:50px;border-bottom: 1px solid #eaeaea;background: transparent;}
.tab_u li{
	float:left;
	height:50px;
	line-height:50px;
	padding: 0;
	margin:0 20px;
	border-top: none;
	border-bottom:1px solid transparent;
	text-align:center;
	cursor:pointer;
}
.tab_u li a{color:#303030;}
.tab_u li.selectTag{height:50px;line-height:50px;border:none;border-bottom:2px solid #ff8423;background-color:#fff;}
.tab_u li.selectTag a{color:#ff8423;}
.table th{
    color: #999;
	font-size: 12px;
	padding: 10px !important;
	border: none !important;
	background: #f9f9f9;
}
.table td {
	font-size: 12px !important;
	color: #303030;
	border-top: none !important;
	background: #fff;
}
.table > tbody + tbody {border-top: none !important;}
.table > tbody + tbody td a.btn {font-size: 12px;padding: 2px 10px;margin: 0;}
/* ====================== 提示控件 ===================== */
.tooltip {
    position: relative;
    cursor: help;
    display: inline-block;
    width: 20px;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin:  0;
    opacity: 1;
    z-index: 100;
}
.tooltip:after {
    content: "?";
    color: #a8a8a8;
    font-size: 12px;
    background: #eaeaea;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    text-align: center;
    line-height: 14px;
}
.tooltip i {
    color: #303030;
    display: none;
    position: absolute;
    bottom: 28px;
    left: 50%;
    z-index: 999;
    width: 272px;
    margin-left: -136px;
    padding: 6px;
    background: #fef9f5;
    border: 1px solid #ff8423;
    border-radius: 8px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;

}
.tooltip:hover>i{
    display: block;
}
.tooltip i:before,.tooltip i:after{content: "";position: absolute;z-index: 1000;bottom: -7px;left: 50%;margin-left: -8px;border-top: 8px solid #fef9f5;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 0;}
.tooltip i:before{border-top-color: #f47d30;bottom: -8px;}

/* ====================== 面包屑导航 ===================== */
ul.crumbs-ui{padding:0;margin:0;list-style:none}
crumbs-divider{color:#a0a0a0;font-family:simsun,serif;padding:0 5px;}
.crumbs-ui li, .crumbs-ui li a{height:50px;line-height:50px;float:left;color:#a0a0a0;font-size: 12px;}
.crumbs-ui .active{color:#303030;}

/* ====================== 分页 ===================== */
.pagination {
    height: 24px;
    margin: 15px 0px;
}
.pagination > li > a, .pagination > li > span {border: none !important;margin: 0 10px;padding: 2px 7px;}
.pagination > li > a:hover, .pagination > li > span:hover {border-radius: 8px; }
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    border-color: transparent;
    border-radius: 8px; 	
}
#tab1Page span.disabled,#tab2Page span.disabled,#tab3Page span.disabled,#tab4Page span.disabled {border: none !important;font-size: 14px;color: #777}
#tab1Page span.normalsize,#tab2Page span.normalsize,#tab3Page span.normalsize,#tab4Page span.normalsize {font-size: 14px;color: #777;}
#tab1Page span.curr,#tab2Page span.curr,#tab3Page span.curr,#tab4Page span.curr {
	background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    border-color: transparent;
    border-radius: 8px;
    border: none;
}
#tab1Page a,#tab2Page a,#tab3Page a,#tab4Page a {border: none;background: transparent;font-size: 14px;}
#tab1Page a:hover,#tab2Page a:hover,#tab3Page a:hover,#tab4Page a:hover {background: #fff;border-radius: 8px;border: none;}
/* ======================错误提示===================== */
label.toperror {
    position: absolute;
    top: 40px;
    left: -4px;
    color: #f65;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    display: none;
    padding: 0 7px;
    white-space: nowrap;
}

/* ====================== 随机送券 ===================== */
.bigimg{position: fixed;left: 0;top: 0;bottom:0;right:0;width: 100%;height: 100%;z-index: 10000;overflow: hidden;}
.bigshow{position: fixed;left: 0;top: 0;bottom:0;right:0;opacity: 0.7;filter: alpha(opacity=70);background-color: #000;z-index: 999;}
.counp{ 
    width: 538px;
    height: 536px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: url(/Public/frontend/images/popup/laba.png) no-repeat left top;
    background-size: 100%;
    z-index: 9999;
    margin-left: -284px;
    margin-top: -295px;
}
.actPopups {
	width: 500px;
	height: 360px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: -270px;
    margin-top: -198px;
    background: url(/Public/frontend/images/popup/jan-act.png) no-repeat left top;
}
.actPopups.double-12{background: url(/Public/frontend/images/popup/double-12.png) no-repeat left top;}
.actPopups.christmas{background: url(/Public/frontend/images/popup/christmas-pop.png) no-repeat left top;}
.actPopups.christmas-delay{background: url(/Public/frontend/images/popup/christmas-delay.png) no-repeat left top;}
.act-close {
	width: 54px;
	height: 114px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: 176px;
    margin-top: -312px;
    cursor: pointer;
     background: url(/Public/frontend/images/popup/risk-close.png) no-repeat left top;
}
/* ====================== 首页悬浮图标 ===================== */
.act-icon {width: 300px;height: 200px;background: url(/Public/frontend/images/popup/jan-logo.png) no-repeat;left: 20px;bottom: 0;z-index: 200;}

