@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon}") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font:14px/1.5 'Microsoft YaHei', sans-serif;  
    color: #666;
    background: #ececec;
    min-width: 1200px;
    overflow-x: scroll;
}
body.fh5co-overflow {
    overflow-x: auto;
}
.container{
    width: 1200px;
}
::-webkit-selection {
    color: #fff;
    background: #f9ad81;
}

::-moz-selection {
    color: #fff;
    background: #f9ad81;
}

::selection {
    color: #fff;
    background: #f9ad81;
}

a {
    color: #666;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
a:hover, a:focus, a:active {
    color: #f67d38;
    outline: none;
    text-decoration: none;
}
h1, h2, h3, h4, {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #333;
}
h5,.h5{
    font-size: 16px;
}
h6,.h6{
    font-size: 14px;
}
em,i{
    font-style:normal;
}
.strong{
    font-weight: bold;
}
.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 20px;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-indent{
    text-indent: 2em;
}
.line-through{
    text-decoration: line-through;
}
.overflow-h{
    overflow: hidden;
}
.none{
    display: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed {
    position: fixed;
}
.pointer {
    cursor: pointer;
}
/*font*/
.bg-white,.bg-fff{background: #fff;}
.bg-gray{background: #ececec;}
.bg-blue{background: #48b4ff;}
.bg-gray1{background: #F2F2F2;}
.bg-fa{background-color: #fafafa;}
.bg-yellow{background: #ffe292;}
.bg-yellow1{background: rgba(255, 226, 146, 0.44) !important;}
.color-30{color: #303030;}
.color-yellow{color: #fce49c;}
.color-white{color: #fff;}
.color-brown{color:#5b3725;}
.color-blue{color: #48b4ff;}
.color-th {color: #568cc7;}
.color-orange{color: #ff8423 !important;}
.color-purple{color: #3e4490;}
.color-red{color: #de4523;}
.color-red1{color: #e20731;}
.color-red2{color: #d2391a;}
.color-a0{color: #a0a0a0;}
.text-danger{color: red;}
.lp-6{letter-spacing: 6px;}
.fc-8a{color: #8A8A8A;}
.fc-a8{color: #a8a8a8;}
.fc-999{color: #999;}
.fc-333{color: #333;}
.fc-666{color: #666;}
.fc-777{color: #777;} 
.fc-green{color: #40bb6b;}
.fw-b{font-weight: bold;}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-28{
    font-size: 28px;
}
.fs-12{
    font-size: 12px;
}
.fc-fff{
    color: #fff;
}
.article p{
    margin-bottom: 10px;
}
a.more{
    color: #999;
}
a.more:hover{
    color: #333;
}
.form-control {
    box-shadow: none;
    background: transparent;
    border: 1px solid #bbb;
    height: 40px;
    font-size: 14px;

}
.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #f9ad81;
}
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 8px 18px;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border:1px solid transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.btn.btn-md {
    padding: 10px 20px !important;
}
.btn.btn-lg {
    padding: 18px 36px !important;
    border-radius: 4px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 2px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 4px 5px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    letter-spacing: 0;
}
.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
}
.btn-gray {
    color: #666;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}
.fh5co-index .btn-primary {    
    background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    color: #fff;
    border: none;
}
.btn-primary {
    background: #F47D30;
    color: #fff;
    border-color: #F47D30;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #f89d69 !important;
    border-color: #f89d69 !important;
}
.btn-primary.btn-outline {
    background: transparent;
    color: #F47D30;
    border-color: #f9ad81;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #f9ad81;
    color: #fff;
}
.btn-blue {
    background: -moz-linear-gradient(left, #39a0ff 50%, #43d4ff 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #39a0ff), color-stop(100%, #43d4ff));
    background: -webkit-linear-gradient(left, #39a0ff 50%, #43d4ff 100%);
    background: -o-linear-gradient(left, #39a0ff 50%, #43d4ff 100%);
    background: linear-gradient(to right, #39a0ff 0%, #43d4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    border-color: transparent; 
    -moz-box-shadow:6px 8px 16px rgba(63, 189, 225, 0.3);          
    -webkit-box-shadow:6px 8px 16px rgba(63, 189, 225, 0.3);     
    box-shadow:0 3.46px 8px rgba(63, 189, 225, 0.3);
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #fff;
    background: #2c90ff !important;
    border-color: transparent !important;
}
.btn-link{
    color: #F47D30;
    text-decoration: underline;
}
.btn-success {
    background: #58ca7e;
    color: #fff;
    border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #45c46f !important;
    border-color: #45c46f !important;
}
.btn-success.btn-outline {
    background: transparent;
    color: #58ca7e;
    border-color: #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #58ca7e;
    color: #fff;
}

.btn-info {
    background: #52bcff;
    color: #fff;
    border-color: solid #3994fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #439be1 !important;
    border-color: #439be1 !important;
}
.btn-info.btn-outline {
    background: transparent;
    color: #1784fb;
    border-color: solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #439be1;
    color: #fff;
}

.btn-warning {
    background: #fed330;
    color: #fff;
    border-color: solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #fece17 !important;
    border-color: #fece17 !important;
}
.btn-warning.btn-outline {
    background: transparent;
    color: #fed330;
    border-color: solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #fed330;
    color: #fff;
}

.btn-danger {
    background: #fb4f59;
    color: #fff;
    border-color: solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #fa3641 !important;
    border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
    background: transparent;
    color: #fb4f59;
    border-color: solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #fb4f59;
    color: #fff;
}

.btn-outline {
    background: none;
    border-color: solid gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
}


/*list-style*/
ul.disc li {list-style:disc;}
ul.circle li {list-style:circle;}
ul.square li {list-style:square;}
ul.decimal li {list-style: decimal}
ol.lroman {list-style-type: lower-roman}
ol.uroman {list-style-type: upper-roman}
ul.lalpha {list-style-type: lower-alpha}
ul.ualpha {list-style-type: upper-alpha}
.notxt{text-indent:-9999px;}
.fl{float:left;}
.fr{float:right;}
.block{display: block;}
.breadcrumb{
    background: none;
    margin: 10px 0;
}
.breadcrumb > .active {
    color: #f37d37;
}
/*边框*/
.bord{border:1px solid #dcdcdc;}
.bord-o{border: 1px solid #dcdcdc;}
.bor-b{border-bottom:1px solid #dcdcdc;}
.bor-t{border-top:1px solid #dcdcdc;}
.bor-l{border-left:1px solid #dcdcdc;}
.bor-r{border-right:1px solid #dcdcdc;}
.bor0{border: none;}
.bor-b0{border-bottom: 0;}
.bor-t0{border-top: 0 !important;}
.bor-l-0{border-left: 0;}
.radius_30{border-radius: 30px;}
.radiu_4 {border-radius: 4px;}
.radiu_10{border-radius: 10px;}
.radiu_topl4 {border-top-left-radius: 4px;}
.radiu_topr4 {border-top-right-radius: 4px;}
/*间距*/
.mar-30{margin: 30px;}
.mb-0{margin-bottom: 0;}
.mb-5{margin-bottom:5px;}
.mb-9{margin-bottom:9px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-60{margin-bottom:60px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-16{margin-left:16px;}
.ml-30{margin-left:30px;}
.ml-20{margin-left:20px;}
.ml-60{margin-left:60px;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.mt-10{margin-top:10px;}
.mt-5{margin-top:5px;}
.mt-0{margin-top:0;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top:20px;}
.mt-25{margin-top:25px;}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mt-60{margin-top:60px}
.mt-85{margin-top:85px}
.mt-90{margin-top:90px}
.mt--1{margin-top:-1px;}
.mt--10{margin-top:-10px;}
.mt--20{margin-top:-20px;}
.pad-0{padding: 0;}
.pad-5{padding:5px;}
.pad-10{padding:10px;}
.pad-20{padding:20px;}
.pad-30{padding:30px;}
.pad-40{padding:40px;}
.pad-80{padding: 80px;}
.pl-0{padding-left:0px;}
.pl-2{padding-left:2px;}
.pl-3{padding-left:3px;}
.pl-5{padding-left:5px;}
.pr-5{padding-right:5px;}
.pr-0{padding-right:0;}
.pt-0{padding-top: 0;}
.pl-0{padding-left:0;}
.pb-0{padding-bottom: 0;}
.pt-5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-15{padding-top:15px;}
.pt-20{padding-top:20px;}
.pt-25{padding-top:25px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pt-60{padding-top:60px;}
.pt-150{padding-top:150px;}
.pl-10{padding-left:10px;}
.pl-15{padding-left:15px;}
.pl-17{padding-left:17px;}
.pl-20{padding-left:20px;}
.pl-30{padding-left:30px;}
.pl-40{padding-left:40px;}
.pl-60{padding-left: 60px;}
.pl-80{padding-left:80px;}
.pl-85{padding-left:85px;}
.pl-100{padding-left: 100px;}
.pr-10{padding-right:10px;}
.pr-15{padding-right:15px;}
.pr-20{padding-right:20px;}
.pr-30{padding-right:30px;}
.pr-40{padding-right:40px;}
.pr-80{padding-right:80px;}
.pr-85{padding-right:85px;}
.pr-100{padding-right:100px;}
.pb-10{padding-bottom:10px;}
.pb-15{padding-bottom:15px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}
.pb-60{padding-bottom:60px;}
.pb-85{padding-bottom:85px;}
.transform-down{
    transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg)
}
/*去色*/
.desaturate{ 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); 
    filter: grayscale(100%);
    filter: gray; 
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
}

/*------------ 进度条 -----------*/
.progress {
    overflow: visible;
    position: relative;
    width: 78%;    
    height: 6px;
    margin-bottom: 0;
    margin-top:10px;
    background-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    background-color: #31d5fb;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.progress .complete{
    position: absolute;
    top:-2px;
    right:-38px;

    line-height: 10px;
    z-index: 10;
}
/*---------top------------*/
#fh5co-top{
    height: 41px;   
    border-bottom: 1px solid #E7E7E7;   
}
#fh5co-top .top-left>a{
    display: inline-block;
    text-indent: -1000px;   
    position: relative;
    width:30px;
    height:40px;
    line-height: 40px;
    color:#555; 
    background: url(/Public/frontend/images/index-icon.png) 0 0 no-repeat;

}
#fh5co-top .top-left>.hover-sina{background-position:-30px 0;}
#fh5co-top .top-left>.hover-weixin{background-position:-60px 0;}
#fh5co-top .top-left>.hover-qq:hover{background-position:0 -40px;}
#fh5co-top .top-left>.hover-sina:hover{background-position:-30px -40px;}
#fh5co-top .top-left>.hover-weixin:hover{background-position:-60px -40px;}
#fh5co-top .top-left>.hover-weixin img{
    display: block;
    height: auto;
}
#fh5co-top .top-left{width: 300px;}
#fh5co-top .fl .popover{
    top: 40px;
    text-indent: 0;
}
#fh5co-top .fl .popover p{
    width: 140px;
    margin: 0;
    text-align: left;
}
#fh5co-top .top-left>.tel{
    padding-right: 10px;
    color: #303030;
    height:40px;
    width: auto;
}
#fh5co-top .top-right a{
    padding: 0 2px;
    line-height: 40px;
    color: #A0A0A0;
    font-size: 12px;
    text-align: center;
}
#fh5co-top .top-right .login-box a {
    padding: 0 10px;
}
.emphasize1 {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: -8px;
    z-index: 9;
    width: 27px;
    height: 19px;
    background: url(/Public/frontend/images/account/hot.gif) center center no-repeat;
}
.pos_rel {
    position: relative;
}
#fh5co-header {
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 999;
    background: #fff;
    height: 89px;
    padding: 0;
    width: 100%;
    min-width: 1200px;
}

#fh5co-header .container{
    position: relative;
    background: #fff;
}
#fh5co-header #fh5co-logo {
    float: left;
    line-height: 1.2;
    position: relative;
}
@media screen and (max-width: 768px) {
    #fh5co-header #fh5co-logo {
        top: -2px;
    }
}
#fh5co-header #fh5co-logo a {
    font-size: 30px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    #fh5co-header #fh5co-logo a {
        color: #000;
    }
}
#fh5co-header #fh5co-logo a span {
    color: #f9ad81;
}
#fh5co-header #fh5co-main-nav {
    float: right;
    padding-top: 15px;
}
#fh5co-header .icon-mycount{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url(/Public/frontend/images/index-icon.png) 0 -118px no-repeat;
}
#fh5co-header #fh5co-main-nav ul {
    padding: 0;
    margin: 2px 0 0 0;
}
#fh5co-header #fh5co-main-nav ul li {
    padding: 0;
    margin: 0;
    display: inline;
}
#fh5co-header #fh5co-main-nav ul li a { 
    color: #333;  
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    line-height: 55px;
    padding: 10px ;
    font-size: 16px;
}
#fh5co-header #fh5co-main-nav ul li a:hover,
#fh5co-header #fh5co-main-nav ul li.active a {
    text-decoration: none;
    color: #ff8423;
}

@keyframes navbarani
{
    from {top:-50px;}
    to {top:0px;}
}

@-moz-keyframes navbarani /* Firefox */
{
    from {top:-50px;}
    to {top:0px;}
}

@-webkit-keyframes navbarani /* Safari and Chrome */
{
    from {top:-50px;}
    to {top:0px;}
}

@-o-keyframes navbarani /* Opera */
{
    from {top:-50px;}
    to {top:0px;}
}
#fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0px;
    height: 91px;
    padding: 0;
    animation:navbarani 0.5s;
    -moz-animation:navbarani 0.5s; /* Firefox */
    -webkit-animation:navbarani 0.5s; /* Safari and Chrome */
    -o-animation:navbarani 0.5s; /* Opera */
}
#fh5co-header.navbar-fixed-top #fh5co-logo {
    float: left;
    line-height: 1.2;
}
#fh5co-header.navbar-fixed-top #fh5co-logo a {
    font-size: 30px;
    color: #000;

}
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    padding: 10px;
    font-size: 16px;
}
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li a:hover,
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li.active a {
    color: #ff8423;
}
#fh5co-main{padding-top: 89px;}
#fh5co-main,
#fh5co-offcanvas {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

#fh5co-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 275px;
    background: #444853;
    overflow-y: auto;
    padding: 50px 30px 30px 30px;
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    -o-transform: translateX(275px);
    transform: translateX(275px);
}
#fh5co-offcanvas .fh5co-offcanvas-close {
    position: absolute;
    top: 20px;
    right: 30px;
}
#fh5co-offcanvas .fh5co-offcanvas-close:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e117";
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#fh5co-offcanvas .fh5co-offcanvas-close:hover:before {
    color: white;
}
#fh5co-offcanvas nav ul {
    padding: 0;
    margin: 0;
}
#fh5co-offcanvas nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#fh5co-offcanvas nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    padding: 7px 0;
}
#fh5co-offcanvas nav ul li a:hover {
    color: #f9ad81;
}
#fh5co-offcanvas nav ul li.active a {
    color: #f9ad81;
}
.offcanvas-visible #fh5co-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.js .to-animate, .js
.to-animate-2, .js
.animate-box {
    opacity: 0;
    opacity: 1\9\0;  /* ie 9*/;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #f9ad81;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 3px;
    color: #535659;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #535659;
    transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #535659;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
}
@media screen and (max-width: 968px) {
    .fh5co-nav-toggle {
        display: block;
    }
    .offcanvas-visible .fh5co-nav-toggle {
        z-index: 999999 !important;
    }
}

.fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        width: 100%;
        float: none;
    }
}

/* footer */
#fh5co-footer {
    padding: 3em 0;
    font-size: 14px;
    line-height: 30px;
    color: #333;
}
@media screen and (max-width: 768px) {
    #fh5co-footer {
        padding: 3em 0;
    }
}
#fh5co-footer a {
    color: #777;
}
#fh5co-footer a:hover{
    color: #ff8423;
}
#fh5co-footer .line3{height:30px;line-height:30px;}

#fh5co-footer .line3 i{
    display:inline-block;
    width: 28px;
    height: 24px;
    background: url(/Public/frontend/images/index-icon.png) no-repeat;
    vertical-align:middle;
    cursor:pointer;
}
#fh5co-footer .line3 .i_s{
    margin-left:10px;
    background-position:-33px -48px;
}
#fh5co-footer li{display: inline-block;}
#fh5co-footer .line3 .i_q{
    margin-left:10px;
    background-position:-63px -48px;
}

#fh5co-footer .line3 .weisq{
    width:92px;
    margin-left:20px;
    background-position: 0 -88px;
    vertical-align:middle;
    cursor:pointer;
}
#fh5co-footer .r-pb  {
    background: #ECECEC;
    border-radius: 6px;
    padding: 3px 20px;
    margin-top: 11px;
}
#fh5co-footer .friend-show-btn{
    display: inline-block;
    cursor: pointer;
}
#fh5co-footer p {
    margin-bottom: 10px;
}
#fh5co-footer .friend-link-btn{
    font-size: 16px;
    font:bold;
}
#fh5co-footer .fh5co-social {
    padding: 0;
    padding-right: 15px;
    margin: 0;
}
#fh5co-footer .fh5co-social a{
    display: block;
    margin-left: 10px;
    background: url(/Public/frontend/images/index-icon.png) no-repeat;
}
#fh5co-footer .fh5co-social .seal1{
    width: 91px;height: 38px;background-position: 0 bottom;}
#fh5co-footer .fh5co-social .v_seal{width: 64px;height: 38px;background-position: -204px bottom;}
#fh5co-footer .fh5co-social .seal2{width: 93px;height: 38px;background-position: -101px bottom;}
#fh5co-footer .fh5co-social .seal3{width: 84px;height: 38px;background-position: -328px bottom;}
#fh5co-footer .fh5co-social .gongshang{width: 42px;height: 38px;background-position: -277px bottom;}
/* 侧边栏top */
#tbox{width:44px;float:right;position:fixed;right:10px;top:50%;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_margin-bottom:15px;}
#tbox #riskTip,#tbox #pinglun,#tbox #xiangguan,#tbox #yyqz,#tbox #syjs,.back-to-top{background:url(/Public/frontend/images/QQ_pic.png) no-repeat;display:block;margin:1px 0;}
#tbox #riskTip {width:40px;height:40px;background-position:-44px -3px;position:relative}
#tbox #pinglun{width:40px;height:40px;background-position:-44px -44px;}
#tbox #xiangguan{width:40px;height:40px;background-position:-44px -85px;position:relative}
#tbox #yyqz{width:40px;height:40px;background-position:-44px -167px;position:relative}
#tbox #syjs{width:40px;height:40px;background-position:-44px -126px;}
.back-to-top{width:40px;height:40px;background-position:-44px -208px;cursor:pointer;}
#tbox a:hover{background:url(/Public/frontend/images/QQ_pic.png);display:block;margin:1px 0}
#tbox a:hover#riskTip{width:40px;height:40px;background-position:0 -3px;}
#tbox a:hover#pinglun{width:40px;height:40px;background-position:0 -44px;}
#tbox a:hover#xiangguan{width:44px;height:40px;background-position:0 -85px;}
#tbox a:hover#yyqz{width:40px;height:40px;background-position:0 -167px;}
#tbox a:hover#syjs{width:40px;height:40px;background-position:0 -126px;}
#tbox a:hover.back-to-top{width:40px;height:40px;background-position:-44px -208px;}
#tbox a .moquu_risk{width: 170px;height:38px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -3px;position:absolute;right:48px;top:2px;display: none;}
#tbox a .moquu_wxinh{width:255px;height:141px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -40px;position:absolute;right:38px;top:-42px;display:none}
#tbox a .moquu_qzy{width:180px;height:171px;background:url(/Public/frontend/images/QQ_pic.png) no-repeat;background-position:-98px -188px;position:absolute;right:38px;top:-54px;display:none}
@media screen and (max-width: 768px) {
    .fh5co-social {
        float: none !important;
    }
}
.fh5co-social li {
    padding: 0;
    margin: 0;
    display: inline;
}
.fh5co-social li a {
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .fh5co-social li a {
        margin-right: 10px;
    }
}
.fh5co-social li a i {
    font-size: 20px;
}
.fh5co-social li a:hover {
    text-decoration: none !important;
}
.fh5co-social li a:hover i {
    text-decoration: none;
}
/*砸金蛋悬浮图标*/
@keyframes light{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes hammer{
    from{transform: rotate(0deg);}
    to{transform: rotate(-40deg);}
}
.gif {
    width: 200px;
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
}
.gif .light {
    animation: light 5s linear infinite normal;
    width: 200px;
}
.gif .hammer {
    animation: hammer 1.5s linear infinite alternate;
    position: absolute;
    left: 158px;
    top: 28px;
}
.gif .egg1,.gif .egg2 {
    width: 109px;
    position: absolute;
    left: 46px;
    top: 43px;
}
.gif .word {
    width: 42.7px;
    position: absolute;
    left: 32px;
    top: 20px;
}   
.gif .present {
    width: 113px;
    position: absolute;
    left: 40px;
    top: 18px;
}

/* 头部弹出 */
.theme-popover {
    z-index: 9999;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 430px;
    height: 458px;
    margin: 0 0 0 -222px;
    border-radius: 2px;
    border: 2px solid #666;
    background-color: #fff;
    box-shadow: 0 0 10px #666;
}
.theme-popover .pyzm {
	right: 1px;
    top: 1px;
    width: 96px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    border: none;
    background: #ff8423;
    color: #fff;
}
.theme-popover .er-icon {
	width: 66px;
	height: 66px;
	background: url(/Public/frontend/images/user/er_icon.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: -65px;
	cursor: pointer;
} 
.theme-popover .pc-icon {
	width: 52px;
	height: 52px;
	background: url(/Public/frontend/images/user/pc_icon.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
} 
.theme-poptit {
    padding: 5px;
    position: relative;
}
.theme-poptit .close{transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease;-o-transition:-o-transform .5s ease;-ms-transition:-ms-transform .5s ease;}
.theme-poptit .close:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}
.theme-popover .nav-tabs {
    width: 334px;
    margin: 0 auto 20px;
    text-align: center;
    border-bottom: 2px solid #ebebeb;
}
.theme-popover .nav-tabs li {
    width: 128px;
    margin-bottom: -2px;
    float: initial;
    display: inline-block;
}
.theme-popover .nav-tabs li a {
    font-size: 16px;
    color: #303030;
    margin-right: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: initial;
}
.theme-popover .nav-tabs > li a:hover {
    background: transparent;
}
.theme-popover .nav-tabs > li.active > a,.theme-popover  .nav-tabs > li.active > a:hover,.theme-popover  .nav-tabs > li.active > a:focus {
    color: #303030;
    border: 1px solid transparent;
    border-bottom: 2px solid #fcbd91;
}
.theme-popover .btn-primary {
    background: -moz-linear-gradient(left, #ff8423 50%, #ffb643 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #ff8423), color-stop(100%, #ffb643));
    background: -webkit-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: -o-linear-gradient(left, #ff8423 50%, #ffb643 100%);
    background: linear-gradient(to right, #ff8423 0%, #ffb643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8423', endColorstr='#ffb643',GradientType=1 );
    -moz-box-shadow: 6px 8px 16px rgba(255, 132, 35, 0.3);
    -webkit-box-shadow: 6px 8px 16px rgba(255, 132, 35, 0.3);
    box-shadow: 0 3.46px 8px rgba(255, 132, 35, 0.3);
    color: #fff;
    border: none;
    border-radius: 50px;
}
.theme-popover .yzm {
    width: 78px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 1px;
}
.theme-popover  .btn-primary:hover,.theme-popover  .btn-primary:focus,.theme-popover  .btn-primary:active {
    background: #ff7a2b !important;
    border-color: #ff7a2b !important;
}
.theme-popover .scanFail {
    width: 188px;
    height: 188px;
    top: 0;
    left: 104px;
    background: rgba(255, 255, 255, 0.9);
}
.theme-popover .ewmpic{
    width:246px;
    height: 246px;
}
.theme-popover-mask {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Public/frontend/images/common/gray_bg.png);
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}
.theme-popover input[type="checkbox"] {
    height: 14px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
}
.img-grid {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
    .img-grid {
        margin-bottom: 15px;
    }
}
.img-grid img {
    position: relative;
    z-index: 10;
}
.img-grid a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 12;
    background: rgba(68, 72, 83, 0.9);
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.img-grid a > div {
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: 0.8s, ease-out;
    -o-transition: 0.8s, ease-out;
    transition: 0.8s, ease-out;
}
.img-grid a .fh5co-title {
    font-size: 18px;
    color: #fff;
    padding: 0;
    position: relative;
}
.img-grid a .fh5co-meta {
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    position: relative;
    padding-bottom: 7px;
    text-transform: uppercase;
}
.img-grid a .fh5co-meta:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 20px;
    margin-left: -10px;
    height: 2px;
    left: 50%;
    background: #f9ad81;
}
.img-grid:hover > a {
    opacity: 1;
}
.img-grid:hover > a > div {
    bottom: 20px;
}
/*minfooter*/
.minfooter{
    position: fixed;
    left:0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #6c6c6c;
    line-height: 50px;
}

/*分页*/
ul.crumbs-ui{padding:0;margin:0;list-style:none}
.crumbs-ui li, .crumbs-ui li a{height:50px;line-height:50px;float:left;color:#999;}
crumbs-divider{color:#656565;font-family:simsun,serif;padding:0 5px;}
.crumbs-ui .active{color:#fb872b;}
.pagination{height:41px;line-height:40px;text-align:right;margin-top: 15px}
/*.pagination span,
.pagination a{
    background: #fff;
    display:inline-block;height:28px;line-height:28px;padding:0 10px;margin:0 2px;border:1px solid #cccccc;border-radius:2px;vertical-align:middle;color:#333;}*/
.pagination a:hover{color:#fb872b;border:1px solid #fb872b;}
.pagination span i,
.pagination a i{display:inline-block;width:7px;height:12px;line-height:12px;font-size:0;vertical-align:middle;background:url(/Public/Images/fy.gif) no-repeat;}
.pagination span.first i,
.pagination a.first i{background-position:0 0;margin-right:5px;}
.pagination a.first:hover i{background-position:0 -13px;}
.pagination span.last i,
.pagination a.last i{background-position:-8px 0;margin-left:5px;}
.pagination a.last:hover i{background-position:-8px -13px;}
/*.pagination .active{background-color:#f60;color:#fff;border:1px solid #f60;}*/
.pagination span.first,
.pagination span.last{color:#999;}
/* Arrow Animations */
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.form-group{
    position: relative;
}
div.error { display: none; }
label.error {position: absolute;    
             padding: 2px 0 2px 3px;
             left: 0px;
             top: 38px;color: #f11615;font-weight: normal;z-index:100;line-height: 20px;}
.row label.error {
    left: 10px;
}
label.toperror{ position: absolute; top: 35px;left:10px;color: #e25353;font-size: 12px;height: 20px;line-height: 20px; text-align: left;
                display: none;
                padding: 0 7px;
                white-space: nowrap;
}
label.pageerror {position: absolute;    
                 padding: 2px 0 2px 3px;
                 left: 0px;
                 top: 40px;color: #f11615;
                 font-weight: normal;
                 z-index:100;
                 line-height: 20px;
                 text-align: left;
}
input.error,select.error { border: 1px solid red;}
.errorUnderDialog{padding: 0px;margin-top: -30px;height:30px}
.login_failure { height: 30px; line-height: 30px;margin: 0 auto;color: #FF7F4D;}
.login_failure i.icon { display: inline-block; width: 20px;height: 20px;vertical-align: middle;margin: 10px 5px;border-radius: 4px;background: url(/Public/frontend/images/account/account.png) no-repeat;background-position: 0 -90px;}

/*tab*/
.tab_u{height:49px;background:url(/Public/frontend/images/tab_line01.gif) bottom repeat-x #fafafa;}
.tab_u li{float:left;height:49px;line-height:47px;padding:0 30px;border-top:1px solid #ebebeb;border-bottom:1px solid transparent;text-align:center;cursor:pointer;
}
.tab_u li a{color:#999;}
.tab_u li.selectTag{height:49px;line-height:46px;border-top:2px solid #f47d30;border-bottom:1px solid #fff;border-right:1px solid #ebebeb;border-left:1px solid #ebebeb;background-color:#fff;}
.tab_u li.selectTag a{color:#f47d30;}
.table th{
    background: #f9f9f9;
    color: #568cc7;
    font-size: 16px;
    font-weight: normal;
}
.table td {
    border-bottom: 1px solid #ebebeb;
}
.table th, .table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}
.input-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    height: 30px;
    padding: 5px 15px;
    line-height: 18px;
    border-radius: 3px;
}
.modal .form-control{
    height: 40px;
    line-height: 20px;
    padding: 5px 13px;
}
/* 弹出控件 */
.qhz-layer-shade, .qhz-layer{position:fixed; _position:absolute; pointer-events: auto;}
.qhz-layer-shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");}
.qhz-layer{top:150px; left: 0; margin:0; padding:0; background-color:#fff; -webkit-background-clip: content; border: 9px solid rgba(0,0,0,.25);}
.qhz-layer-close{position:absolute;}
.qhz-layer-content{position:relative;}
.qhz-layer-border{border:1px solid #B2B2B2; border:1px solid rgba(0,0,0,.3); box-shadow: 1px 1px 5px rgba(0,0,0,.2);}
.qhz-layer-moves{position:absolute; border:3px solid #666; border:3px solid rgba(0,0,0,.5); cursor:move; background-color:#fff; background-color:rgba(255,255,255,.3); filter:alpha(opacity=50);}
.qhz-layer-load{background:url(../images/common/loading-0.gif) #fff center center no-repeat;}
.qhz-layer-ico{ background:url(../images/icon.png) no-repeat;}
.qhz-layer-dialog .qhz-layer-ico,
.qhz-layer-setwin a,
.qhz-layer-btn a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}

/* 动画 */
.qhz-layer{border-radius: 2px; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration:.3s; animation-duration:.3s;}

@-webkit-keyframes bounceIn { /* 默认 */
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}
.layer-anim{-webkit-animation-name: bounceIn;animation-name: bounceIn}
@-webkit-keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}
.layer-anim-close{-webkit-animation-name: bounceOut;animation-name: bounceOut; -webkit-animation-duration:.2s; animation-duration:.2s;}

@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);-ms-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);-ms-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.layer-anim-01{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}

@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.layer-anim-02{-webkit-animation-name:fadeInUpBig;animation-name:fadeInUpBig}

@-webkit-keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.layer-anim-03{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft}

@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}}@keyframes rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}}.layer-anim-04{-webkit-animation-name:rollIn;animation-name:rollIn}

@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.layer-anim-05{-webkit-animation-name:fadeIn;animation-name:fadeIn}

@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@keyframes shake{0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}}.layer-anim-06{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}

/* 标题栏 */
.qhz-layer-title{padding:0 80px 0 20px; height:42px; line-height:42px; border-bottom:1px solid #eee; font-size:14px; color:#333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #F8F8F8; border-radius: 2px 2px 0 0;}
.qhz-layer-setwin{position:absolute; right:15px; *right:0; top:15px; font-size:0; line-height: initial;}
.qhz-layer-setwin a{position:relative; width: 16px; height:16px; margin-left:10px; font-size:12px; _overflow:hidden;}
.qhz-layer-setwin .qhz-layer-close1{background-position:0 -40px; cursor:pointer;}
.qhz-layer-setwin .qhz-layer-close1:hover{opacity:0.7;}
.qhz-layer-setwin .qhz-layer-close2{position:absolute; right:-28px; top:-28px; width:30px; height:30px;  margin-left:0; background-position:-149px -31px; *right:-18px; _display:none;}
.qhz-layer-setwin .qhz-layer-close2:hover{ background-position:-180px -31px;}

/* 按钮栏 */
.qhz-layer-btn{text-align: center; padding:0 10px 12px; pointer-events: auto;}
.qhz-layer-btn a{height: 28px; line-height: 28px; margin: 0 6px; padding: 0 15px; border:1px #dedede solid; background-color:#f1f1f1; color: #333; border-radius: 2px; font-weight:400; cursor:pointer; text-decoration: none;}
.qhz-layer-btn a:hover{opacity:0.9; text-decoration: none;}
.qhz-layer-btn a:active{opacity:0.7;}
.qhz-layer-btn .qhz-layer-btn0{border: none; background-color: #f47d30; color:#fff;}

/* 定制化 */
.qhz-layer-dialog{min-width:260px;}
.qhz-layer-dialog .qhz-layer-content{position: relative; padding:20px; line-height:24px; word-break:break-all; overflow:hidden; font-size:14px; overflow:auto;}
.qhz-layer-dialog .qhz-layer-content .qhz-layer-ico{position:absolute; top:16px; left:15px; _left:-40px; width:30px; height:30px;}
.qhz-layer-ico1{background-position:-30px 0 }
.qhz-layer-ico2{background-position:-60px 0;}
.qhz-layer-ico3{background-position:-90px 0;}
.qhz-layer-ico4{background-position:-120px 0;}
.qhz-layer-ico5{background-position:-150px 0;}
.qhz-layer-ico6{background-position:-180px 0;}
.qhz-layer-rim{border:6px solid #8D8D8D; border:6px solid rgba(0,0,0,.3); border-radius:5px; box-shadow: none;}
.qhz-layer-msg{min-width:180px; border:1px solid #D3D4D3; box-shadow: none;}
.qhz-layer-hui{min-width:100px;  background-color:#000; filter:alpha(opacity=60); background-color: rgba(0,0,0,0.6); color: #fff; border:none;}
.qhz-layer-hui .qhz-layer-content{padding:12px 25px; text-align:center;}
.qhz-layer-dialog .qhz-layer-padding{padding: 20px 20px 20px 55px; text-align: left;}
.qhz-layer-page .qhz-layer-content{position:relative; overflow:auto;}
.qhz-layer-page .qhz-layer-btn,.qhz-layer-iframe .qhz-layer-btn{padding-top:10px;}
.qhz-layer-nobg{background:none;}
.qhz-layer-iframe .qhz-layer-content{overflow:hidden;}
.qhz-layer-iframe iframe{display:block; width:100%;}
.qhz-layer-loading{border-radius:100%; background:none;  box-shadow:none;  border:none;}
.qhz-layer-loading .qhz-layer-content{width:60px; height:24px; background:url(../images/common/loading-0.gif) no-repeat;}
.qhz-layer-loading .qhz-layer-loading1{width:37px; height:37px; background:url(../images/common/loading-1.gif) no-repeat;}
.qhz-layer-loading .qhz-layer-loading2, .qhz-layer-ico16{width:32px; height:32px; background:url(../images/common/loading-2.gif) no-repeat;}
.qhz-layer-tips{background:none; box-shadow:none; border:none;}
.qhz-layer-tips .qhz-layer-content{position:relative; line-height:22px; min-width: 12px; padding:5px 10px; font-size:12px; _float:left; border-radius:3px; box-shadow: 1px 1px 3px rgba(0,0,0,.3); background-color:#FF9900; color:#fff;}
.qhz-layer-tips .qhz-layer-close{right:-2px; top:-1px;}
.qhz-layer-tips i.qhz-layer-TipsG{ position:absolute;  width:0; height:0; border-width:8px; border-color:transparent; border-style:dashed; *overflow:hidden;}
.qhz-layer-tips i.qhz-layer-TipsT, .qhz-layer-tips i.qhz-layer-TipsB{left:5px; border-right-style:solid; border-right-color:#FF9900;}
.qhz-layer-tips i.qhz-layer-TipsT{bottom:-8px;}
.qhz-layer-tips i.qhz-layer-TipsB{top:-8px;}
.qhz-layer-tips i.qhz-layer-TipsR, .qhz-layer-tips i.qhz-layer-TipsL{top:1px; border-bottom-style:solid; border-bottom-color:#FF9900;}
.qhz-layer-tips i.qhz-layer-TipsR{left:-8px;}
.qhz-layer-tips i.qhz-layer-TipsL{right:-8px;}
.qhz-layer-iconext{background:url(../images/common/icon-ext.png) no-repeat;}
.qhz-layer-prompt .qhz-layer-input{display:block; width:220px; height:30px; margin:0 auto; line-height:30px; padding: 0 5px; border: 1px solid #ccc; box-shadow: 1px 1px 5px rgba(0,0,0,.1) inset; color:#333;}
.qhz-layer-prompt textarea.qhz-layer-input{width:300px; height:100px; line-height:20px;}
/* 弹出控件 END*/
#form_collect a{
    display: inline-block;
    height: 26px;
    line-height: 24px;
    padding: 0 5px;
    margin: 0 4px;
    border-radius: 2px;
}
.wxtip dt,.wxtip dd{
    padding-left: 20px;
    line-height: 30px;
} 
.wxtip dt{
    background: #fafafa;
    line-height: 44px;
    color: #F47D30;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}
dl.wxtip i {
    display: inline-block;
    width: 25px;
    height: 18px;
    vertical-align: middle;
    background: url(/Public/frontend/images/account/account.png) 0 -90px no-repeat;
}

.orange-tit{
    border-left: 5px solid #F47D30;
    line-height: 18px;
    margin-bottom: 15px;
}
.input-add-on{
    position: absolute;
    top:0;
    right: 0;
    line-height: 40px;
    padding: 0 10px;
    border: none;
}
.tooltip {
    position: relative;
    cursor: help;
    display: inline-block;
    width: 20px;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin:  0;
    opacity: 1;
    z-index: 100;
}
.tooltip:after {
    content: "?";
    margin-left: 3px;
    color: #f60;
    font: 700 14px Arial;
}
.tooltip i {
    color: #4d515c;
    display: none;
    position: absolute;
    bottom: 28px;
    left: 50%;
    z-index: 999;
    width: 250px;
    margin-left: -128px;
    padding: 10px;
    background: #ffffd4;
    border: 1px solid #f47d30;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

}
.tooltip:hover>i{
    display: block;
}
.tooltip i:before,.tooltip i:after{content: "";position: absolute;z-index: 1000;bottom: -7px;left: 50%;margin-left: -8px;border-top: 8px solid #ffffd4;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 0;}
.tooltip i:before{border-top-color: #f47d30;bottom: -8px;}
/*top*/
#fh5co-top i.phone{
    width:10px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: sub;
    background: url(/Public/frontend/images/home/icon5.png) no-repeat center;
}
.modal-sm{
    width: 400px;
}
.modal .btn{
    height: 40px;line-height: 40px;padding: 0 18px;
}
i.icon-big-check{
    display: inline-block;
    vertical-align: middle;
    width:70px;
    height: 70px;
    background: url(/Public/frontend/images/index-icon.png) no-repeat -219px -82px;
}
i.icon-tzjl{
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(/Public/frontend/images/account/account.png) 0 -169px no-repeat;
}
.cash-pop .modal-dialog{
    width: 320px;
    margin-top: 280px;
}.cash-pop .modal-header{
    background: #f0f0f0;
}
.advert img{
    width: 432px;
    height: 405px;
    margin-top: 30px;
}
.modalbox .modal{
    display: block;
}
.wxtip{
    border-radius: 4px;
}
/*随机送券*/
.bigimg{position: fixed;left: 0;top: 0;bottom:0;right:0;width: 100%;height: 100%;z-index: 10000;overflow: hidden;}
.bigshow{position: fixed;left: 0;top: 0;bottom:0;right:0;opacity: 0.7;filter: alpha(opacity=70);background-color: #000;}
.counp{ 
    width: 545px;
    height: 572px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: url(/Public/frontend/images/popup/seven.png) no-repeat left top;
    background-size: 100%;
    z-index: 9999;
    margin-left: -284px;
    margin-top: -295px;
}
.actPopups {
	width: 500px;
	height: 360px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: -270px;
    margin-top: -198px;
    background: url(/Public/frontend/images/popup/oct.png) no-repeat left top;
}
.act-close {
	width: 54px;
	height: 114px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: 176px;
    margin-top: -311px;
    cursor: pointer;
     background: url(/Public/frontend/images/popup/oct-close.png) no-repeat left top;
}
/*系统公告*/
.systemNotice .shadow {position: fixed;z-index: 9998;opacity: 1;visibility: visible;background: rgba(0,0,0,.6);top: 0;right: 0;left: 0;bottom: 0;}
.systemNotice .content {position: fixed;z-index: 9999;width: 580px;height: 350px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;color:#666;overflow: hidden;background: url(/Public/frontend/images/home/notice-bg.png) no-repeat;background-size: 100% 100%;}
.systemNotice .content h3 {font-size: 22px;}
.systemNotice .content p.text-justify {line-height: 36px;text-indent: 2em}
