body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:100px;
  top:102px;
  width:360px;
  height:600px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1082 {
  position:absolute;
  left:100px;
  top:74px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1084 {
  position:absolute;
  left:100px;
  top:102px;
  width:360px;
  height:40px;
  font-size:15px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u1086 {
  position:absolute;
  left:108px;
  top:109px;
  width:60px;
  height:25px;
}
#u1086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1087 {
  position:absolute;
  left:100px;
  top:141px;
  width:360px;
  height:110px;
  font-size:15px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:47px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1089 {
  position:absolute;
  left:110px;
  top:151px;
  width:340px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:90px;
  height:21px;
}
#u1091p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:82px;
  height:1px;
}
#u1091p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:92px;
  height:21px;
}
#u1091p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1091p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1091p002 {
  position:absolute;
  left:66px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1091p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1091.compound {
  width:0px;
  height:0px;
}
#u1091 {
  position:absolute;
  left:430px;
  top:159px;
  width:80px;
  height:1px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1093 {
  position:absolute;
  left:520px;
  top:152px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1095 {
  position:absolute;
  left:100px;
  top:250px;
  width:360px;
  height:41px;
  text-align:left;
}
#u1096 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1097 {
  position:absolute;
  left:180px;
  top:263px;
  width:210px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1099 {
  position:absolute;
  left:153px;
  top:327px;
  width:250px;
  height:25px;
}
#u1099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:90px;
  height:21px;
}
#u1100p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:82px;
  height:1px;
}
#u1100p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:92px;
  height:21px;
}
#u1100p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1100p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1100p002 {
  position:absolute;
  left:66px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1100p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1100.compound {
  width:0px;
  height:0px;
}
#u1100 {
  position:absolute;
  left:430px;
  top:269px;
  width:80px;
  height:1px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1102 {
  position:absolute;
  left:520px;
  top:262px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:90px;
  height:21px;
}
#u1104p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:82px;
  height:1px;
}
#u1104p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:92px;
  height:21px;
}
#u1104p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1104p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1104p002 {
  position:absolute;
  left:66px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1104p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1104.compound {
  width:0px;
  height:0px;
}
#u1104 {
  position:absolute;
  left:430px;
  top:340px;
  width:80px;
  height:1px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:520px;
  top:331px;
  width:350px;
  height:32px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
