<div class="modal-body">
    <input  type="hidden" name="hidAction" id="hidAction" value="view" >
    <form class="form-horizontal" id="form-Menu">       
        <input type="hidden" name='menuID' id='menuID' value="{$data.menuID}"/>
        <div class="form-group has-info">
            <label class="control-label col-sm-2" for="inputInfo">菜单名称：</label>
            <div class=" col-sm-7">
                <input type="text" id="menuName" name="menuName" value="{$data.menuName}" class="form-control"  >
            </div>
        </div>
        <div class="form-group has-info">
            <label class="control-label col-sm-2" for="inputInfo">URl链接：</label>
            <div class=" col-sm-7">
                <input type="text" id="functionUrl" name="functionUrl" value="{$data.functionUrl}" class="form-control" >
            </div>
        </div>
        <div class="form-group has-info">
            <label class="control-label col-sm-2" for="inputInfo">排序：</label>
            <div class="col-sm-7">
                <input type="text" id="menuSort" name="menuSort" value="{$data.menuSort}" class="form-control">
            </div>
        </div>
        <div class="form-group has-info">
            <label class="control-label col-sm-2" for="inputInfo">是否显示：</label>
            <div class="col-sm-7">
                <select name="menuDisplay" id="menuDisplay">
                    <option value="1"<eq name="data.menuDisplay" value="1">selected</eq>>显示</option>
                    <option value="0" <eq name="data.menuDisplay" value="0">selected</eq>>不显示</option>
                </select>
            </div>
        </div>
        <div class="form-group has-info">
            <label class="control-label col-sm-2" for="inputInfo">父菜单：</label>
            <div class="col-sm-7">
                <select name="parentID"  id="parentID">
                    <option value="0">&nbsp;&nbsp;--请选择--</option>
                    <volist name="menuType" id="vo">
                        <option value="{$vo.menuID}" <eq name="vo.menuID" value="$data['parentID']">selected</eq>>{$vo.menuName}</option>
                        <volist name="vo.children" id="item">
                            <option value="{$item.menuID}" <eq name="item.menuID" value="$data['parentID']">selected</eq> >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$item.menuName}</option>
                            <volist name="item.children" id="tid">
                                <option name="{$tid.menuID}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$tid.menuName}</option>
                            </volist>
                        </volist>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="inputInfo">描述：</label>
            <div class="col-sm-7">
                <textarea name="menuRemark" id="menuRemark" rows="4" cols="60">{$data.menuRemark} </textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" id="butCancel" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" id="butSavemenu" class="btn btn-primary" >保存</button>
</div>  
<script type="text/javascript" >
    $(function($) {
        menuvalid();
        $("#butSavemenu").click(function() {
            var isOK = $("#form-Menu").valid();
            if (isOK) {
                saveMenu()
            }
        });
    });
    function saveMenu() {
        var data = $Util.getData($("#form-Menu"));
        $.ajax({
            type: "post",
            url: "/Backend/System/saveMenu/",
            data: {"par": data},
            dataType: "json",
            beforeSend: function(XMLHttpRequest) {
                $(".sub-content").showLoading();
            },
            success: function(data, textStatus) {
                $(".sub-content").hideLoading();
                if (data.status == 1) {
                    $("#menuID").val(data.data);
                    $("#hidAction").val("edit");
                    $win.confirm(data.msg + ",是否关闭窗口？").on(function() {
                        $('#butCancel').trigger("click");
                    });
                } else {
                    $win.warn(data.msg);
                }
            },
            complete: function(XMLHttpRequest, textStatus) {
                $(".sub-content").hideLoading();
            },
            error: function() {
                $(".sub-content").hideLoading();
            }
        });
    }
    function menuvalid() {
        $("#form-Menu").validate({
            rules: {
                menuName: {required: true},
                functionUrl: {required: true},
                menuSort: {required: true},
                menuDisplay: {required: true},
                parentID: {required: true}
            },
            messages: {
                menuName: {required: "菜单名称不能为空"},
                functionUrl: {required: "URL链接不能为空"},
                menuSort: {required: "排序只能为 0～999的整数"},
                menuDisplay: {required: "显示不能为空"},
                parentID: {required: "父菜单不能为空"}
            }
        });
    }
</script>