body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1531 {
  position:absolute;
  left:100px;
  top:102px;
  width:360px;
  height:600px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1533 {
  position:absolute;
  left:100px;
  top:74px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1535 {
  position:absolute;
  left:100px;
  top:102px;
  width:360px;
  height:40px;
  font-size:15px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u1537 {
  position:absolute;
  left:108px;
  top:109px;
  width:60px;
  height:25px;
}
#u1537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1538 {
  position:absolute;
  left:229px;
  top:341px;
  width:100px;
  height:100px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1540 {
  position:absolute;
  left:131px;
  top:294px;
  width:60px;
  height:60px;
}
#u1541 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1542 {
  position:absolute;
  left:200px;
  top:217px;
  width:60px;
  height:60px;
}
#u1543 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1544 {
  position:absolute;
  left:300px;
  top:218px;
  width:60px;
  height:60px;
}
#u1545 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1546 {
  position:absolute;
  left:369px;
  top:296px;
  width:60px;
  height:60px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u1548 {
  position:absolute;
  left:209px;
  top:514px;
  width:140px;
  height:25px;
}
#u1548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:137px;
  height:21px;
}
#u1549p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:129px;
  height:1px;
}
#u1549p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:139px;
  height:21px;
}
#u1549p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1549p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1549p002 {
  position:absolute;
  left:113px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1549p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1549.compound {
  width:0px;
  height:0px;
}
#u1549 {
  position:absolute;
  left:369px;
  top:526px;
  width:127px;
  height:1px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:-8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1551 {
  position:absolute;
  left:506px;
  top:519px;
  width:250px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
