<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianzhixing.app.dao.mapper.AppVersionsMapper">

	<select id="getAppVersions" resultType="AppVersions" parameterType="java.lang.Short">
		select
		version_name,version_code,check_code,update_desc,update_url,is_forced,app_size,terminal
		from
		d_app_versions where status=1 AND terminal = #{terminal} order by add_datetime DESC
	</select>

	<!--  -->
	<select id="getCheckCodes" resultType="java.lang.String">
		select check_code from d_app_versions where status>0 AND terminal = 2 and check_code != ''  order by add_datetime DESC
	</select>

	<insert id="addUserBank" parameterType="AppVersions">
		insert into d_app_versions 
	</insert>

</mapper>